$body-bg: #faf9f7;
$body-bg-dark: #1d1d1d;
$theme-colors: (
  "primary": #0e6efd,
  "secondary": #aeb2b6,
  "success": #198754,
  "info": #0ccaf0,
  "warning": #ffc105,
  "danger": #dc3545,
  "dark": #212e21,
  "black": black,
  "white": white,
  "light": #f8f9fa,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": $gray-500,
  "grey": $gray-500,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "jazzy": #01fa60,
  "magic-blue": #0197fb,
  "magic-light-blue": #6abff8,
  "magic-green": #59ffac,
  "magic-pink": #fa96ff,
  "magic-orange": #ffb259,
);