@import '_utilities.scss';
@import '_fonts.scss';
@import '_main.scss';

body {
  transition: all .2s ease;
  background-color: var(--bs-body-bg);
  position: relative;
  background-image: var(--bg-style, linear-gradient(180deg, var(--bs-magic-blue) -115px, var(--bs-body-bg) 325px));
  background-size: 170% 800px;
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  body {
    background-size: 100%;
  }
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: 'Rubik', sans-serif
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

a {
  color: unset;
  font-weight: 500;
}

h1 {
  font-size: calc(calc(3 * 1.2vw) + 1rem);
}

p {
  line-height: 1.5em;
  font-size: 1.25rem;
  text-align: left;
}

@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
  }
}

small {
  opacity: .8;
  font-family: "Atkinson Hyperlegible Mono", 'Rubik', sans-serif;
  font-weight: 500;
}

.large-text {
  font-size: 2em;
}

.small-text {
  font-size: .75em;
}

.modal-backdrop {
  background-color: rgba(var(--bs-dark-rgb), .8) !important;
  backdrop-filter: blur(4px) brightness(.5) contrast(.8);
  opacity: 1 !important;
}

.bg-blur {
  backdrop-filter: blur(20px) brightness(.8) contrast(.8);
}

.img-fluid,
.img-fade {
  opacity: 0;
  animation: img-fluid-fade .2s .2s ease forwards;
}

@keyframes img-fluid-fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 1;
  }
}